# Python
__pycache__/
*.py[cod]
*.pyc
.ipynb_checkpoints/
*.egg-info/

# Environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files - large CSVs
# Uncomment below if dataset gets too large to push
# data/*.csv